## Directories ##
.old/
dotfiles/linux/.config/btop/themes/
dotfiles/linux/.config/gtk-3.0/assets/
dotfiles/linux/.config/gtk-4.0/assets/
dotfiles/linux/.config/fish/completions/

## Files ##
dotfiles/linux/.config/fastfetch/groups.jsonc
dotfiles/linux/.config/fastfetch/minimal.jsonc
dotfiles/linux/.config/fastfetch/standard_config.jsonc
dotfiles/linux/.config/fish/functions/start-server.fish
dotfiles/linux/.config/fish/functions/start-server2.fish